body {
  background-color: rgba(47, 47, 47, 1);
}
.App {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.app_me {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  margin-top: 125px;
}
.app_topContainer {
  display: flex;
  flex: 0.15;
  flex-direction: column;

  padding-left: 5px;
  padding-right: 20px;
  margin-top: -445px;
}

.app_follow {
  margin-bottom: 8px;
  font-size: 16px;
  color: rgba(180, 170, 170, 1);
  margin-left: 8px;
  font-weight: lighter;
}
.app_linkedIn {
  width: 88px;
  height: 45.37px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.app_github {
  width: 88px;
  height: 45.37px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.app_twitter {
  width: 88px;
  height: 45.37px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.app_instagram {
  width: 88px;
  height: 45.37px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.app_gmail {
  width: 88px;
  height: 45.37px;
  border-radius: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}
button {
  background-color: rgba(47, 47, 47, 1);
  border: none !important;
  padding: 0;
  margin-bottom: 0 !important;
  width: 88px;
  height: 45.37px;
}

.app_right {
  flex: 0.15;
  margin-top: -100px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  padding-left: 40px;
  padding-top: 20px;

  transition: all 0.2s ease-in-out;
}

.menu-btn__burger {
  width: 38px;
  height: 4px;
  background: rgba(180, 170, 170, 1);
  border-radius: 6px;

  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 4px;
  background: rgba(180, 170, 170, 1);
  border-radius: 20px;

  transition: all 0.2s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* animation */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.app_links {
  z-index: 2;
  background: rgba(47, 47, 47, 1);
  height: 100vh;
  width: 100%;
}
.app_hideElement {
  display: none;
}
.app_showElement {
  display: none;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  transition: color 150ms ease-out;
}
.links {
  justify-content: space-evenly;
  text-align: center;
}
.homeLink {
  padding-top: 40px;
  padding-bottom: 40px;
  color: rgba(180, 170, 170, 1);
  text-decoration: none !important;
}
.technologyLink {
  padding-top: 40px;
  padding-bottom: 40px;
  color: rgba(180, 170, 170, 1);
  text-decoration: none !important;
}
.projectsLink {
  padding-top: 40px;
  padding-bottom: 40px;
  color: rgba(180, 170, 170, 1);
  text-decoration: none !important;
}

.technologyLink:hover {
  background: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  transition: color 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  border-radius: 20px;
}
.projectsLink:hover {
  background: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  transition: color 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  border-radius: 20px;
}

.homeLink:hover {
  background: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  transition: color 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  border-radius: 20px;
}
NavLink {
  text-decoration: none;
}
NavLink:hover {
  background: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  transition: color 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  border-radius: 20px;
}
.clickMeLI {
  display: none;
}
.clickMeGH {
  display: none;
}
.clickMeTwit {
  display: none;
}
.clickMeIG {
  display: none;
}
.clickToCopy {
  display: none;
}
.app_linkedInHover {
  margin-right: 100px;

  display: flex;
}
.app_githubHover {
  margin-right: 100px;

  display: flex;
}
.app_twitterHover {
  margin-right: 100px;

  display: flex;
}
.app_instagramHover {
  margin-right: 100px;

  display: flex;
}
.app_gmailHover {
  margin-right: 100px;

  display: flex;
}

.app_linkedInHover:hover .clickMeLI {
  display: block;
  width: 88px;
  height: 32.37px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding-top: 13px;
  position: absolute;
  /* padding-top: 13px; */
  color: rgba(47, 47, 47, 1);
  font-weight: 600;
  background-color: rgba(131, 161, 169, 1);
  z-index: 100;
}
.app_githubHover:hover .clickMeGH {
  display: block;
  width: 88px;
  height: 32.37px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding-top: 13px;
  position: absolute;
  /* padding-top: 13px; */
  color: rgba(47, 47, 47, 1);
  font-weight: 700;
  background-color: rgba(131, 161, 169, 1);
  z-index: 100;
}
.app_twitterHover:hover .clickMeTwit {
  display: block;
  width: 88px;
  height: 32.37px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding-top: 13px;
  position: absolute;
  color: rgba(47, 47, 47, 1);
  font-weight: 600;
  background-color: rgba(131, 161, 169, 1);
  z-index: 100;
}
.app_instagramHover:hover .clickMeIG {
  display: block;
  width: 88px;
  height: 32.37px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding-top: 13px;
  position: absolute;
  color: rgba(47, 47, 47, 1);
  font-weight: 600;
  background-color: rgba(131, 161, 169, 1);
  z-index: 100;
}
.app_gmailHover:hover .clickToCopy {
  display: block;
  width: 88px;
  height: 35.37px;
  border-radius: 9px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  color: rgba(47, 47, 47, 1);
  font-weight: 600;
  background-color: rgba(131, 161, 169, 1);
  z-index: 100;
}
