.projectsContainer {
  display: flex;
  margin-top: 35px;
}
.projectColumn {
  display: flex;
  flex-direction: column;
}
.projectPhoto {
  width: 450px;
  /* height: 285px; */
}
.ghIcon {
  width: 60px;
  height: 23px;
  margin-left: 375px;
  position: absolute;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.darken:hover {
  filter: brightness(80%);
}
.projectsColumn{
  display: flex;
}
.twitterShare {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.projectsColumn2 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 500px;
  width: 350px;
  margin-top: -325px;
}
.individualTitle {
  color: rgba(180, 170, 170, 1);
  font-weight: 800;
  margin-bottom: 10px;
}
.individualDescription {
  color: rgba(180, 170, 170, 1);
  font-weight: lighter;
  margin-bottom: 10px;
}
.techUsed {
  color: rgba(180, 170, 170, 1);
  font-weight: lighter;
  margin-bottom: 10px;
}
.individualTrials {
  color: rgba(180, 170, 170, 1);
  font-weight: lighter;
  margin-bottom: 10px;
}
