.aboutContainer {
  margin-top: -5px;
  background-color: #5e94d7;
  height: 550px;
  width: 100%;
}
.aboutMe {
  padding-top: 90px;
  font-size: 34px;
  font-weight: 300;
  color: #dbe2ef;
  text-align: center;
}
.aboutMeContinued {
  width: 75%;
  margin: auto;
  /* padding-left: 215px; */
  font-weight: lighter;

  padding-top: 20px;

  font-size: 24px;
  color: #dbe2ef;
  display: flex;
  justify-content: center;
  /* max-width: 900px; */
  /* padding-left: 25%; */
  text-align: center;
}
.aboutCards {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.cardFrontEnd {
  padding-top: 5%;

  justify-content: center;
  text-align: center;
  border: 0.5px solid #dbe2ef;
  border-radius: 10px 0px 0px 10px;
  height: 570px;
  width: 20%;
  background-color: #f9f7f7;
}
.cardBackEnd {
  padding-top: 5%;

  justify-content: center;
  text-align: center;
  border: 0.5px solid #dbe2ef;
  height: 570px;
  width: 20%;
  background-color: #f9f7f7;
}
.cardStudent {
  padding-top: 5%;

  justify-content: center;
  text-align: center;
  border: 0.5px solid #dbe2ef;
  border-radius: 0px 10px 10px 0px;
  height: 570px;
  width: 20%;
  background-color: #f9f7f7;
}
.frontEndPic {
  transform: rotate(0deg);
}
.aboutPic {
  margin-top: -400px;
  padding-top: 10px;
  height: 100px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  color: black;
}
.aboutPic3 {
  margin-top: -400px;
  padding-top: 10px;
  height: 95px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  color: black;
}
.cardMain {
  color: black;
  font-size: 20px;
  font-weight: 400;
  color: #5e94d7;
}
.cardMain2 {
  padding-top: 20px;
  margin: auto;
  width: 85%;
  font-size: 16px;
  font-weight: 200;
}
.cardLanguages1 {
  padding-top: 100px;
  color: #5e94d7;
  font-size: 20px;
  font-weight: 400;
}
.cardLanguages2 {
  padding-top: 80px;
  color: #5e94d7;
  font-size: 20px;
  font-weight: 400;
}
.cardLanguages3 {
  padding-top: 80px;
  color: #5e94d7;
  font-size: 20px;
  font-weight: 400;
}
.separator {
  margin-top: 5px;
}
.cardTech {
  text-align: center;
  font-weight:200;
  width: 85%;
  margin: auto;
  padding-top: 20px;
  font-size: 16px;
}
.cardMain4 {
  padding-top: 110px;
  color: #5e94d7;
  font-size: 20px;
  font-weight: 400;
}
.cardMain5 {
  padding-top: 137px;
  color: #5e94d7;
  font-size: 20px;
  font-weight: 400;
}
.cardMain6 {
  padding-top: 86px;
  color: #5e94d7;
  font-size: 20px;
  font-weight: 400;
}
.cardTools1{
  text-align: center;
  
  width: 86%;
  margin: auto;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 200;
}
.cardTools2{
  text-align: center;
  
  width: 86%;
  margin: auto;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 200;
}
.cardTools3{
  text-align: center;
  width: 86%;
  margin: auto;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 200;
}