.aboutContainer{
  margin-top:-5px;
  background-color: #5e94d7;
  height: 550px;
  width: 100%;
}
.aboutMe{
  padding-top: 90px;
  font-size: 34px;
  font-weight: 300;
  color: #dbe2ef;
  text-align: center;
}
.aboutMeContinued{
  width:75%;
  padding-left: 215px;
  font-weight: lighter;
  
  padding-top: 20px;
 
  font-size: 26px;
  color: #dbe2ef;
  display: flex;
  justify-content: center;
  /* max-width: 900px; */
  /* padding-left: 25%; */
  text-align: center;
}