.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerPic {
  width: 5%;
  height: auto;
  margin-left: 100px;
  margin-top: 15px;
  transform: rotate(-1deg);
}
.myLinks {
  display: flex;
  margin-top: 60px;
  margin-right: 120px;
}
.myLinks1 {
  text-align: right;
  margin-left: 5px;
  padding: 6px;
  font-weight: 200;
  font-size: 1.7vh;
  border-radius: 8px;
  color: black;
  height: fit-content;
}
.myLinks2 {
  text-align: right;
  margin-left: 5px;
  padding: 6px;
  font-weight: 200;
  font-size: 1.7vh;
  border-radius: 8px;
  color: black;
  height: fit-content;
}
.myLinks3 {
  text-align: right;
  margin-left: 5px;
  padding: 6px;
  font-weight: 200;
  font-size: 1.7vh;
  border-radius: 8px;
  color: black;
  height: fit-content;
}
.myLinks4 {
  text-align: right;
  margin-left: 5px;
  padding: 6px;
  font-weight: 200;
  font-size: 1.7vh;
  border-radius: 8px;
  color: black;
  height: fit-content;
}
.active {
  text-align: right !important;
  margin-left: 5px !important;
  padding: 6px !important;
  font-weight: 200 !important;
  font-size: 1.7vh !important;
  border-radius: 8px !important;
  color: black !important;
  height: fit-content !important;
  text-decoration: none !important;
}
.myLinks1:hover {
  background: #dbe2ef;
  transition: all 0.5s;
  cursor: pointer;
}
.myLinks2:hover {
  background: #dbe2ef;
  transition: all 0.5s;
  cursor: pointer;
}
.myLinks3:hover {
  background: #dbe2ef;
  transition: all 0.5s;
  cursor: pointer;
}
.myLinks4:hover {
  background: #dbe2ef;
  transition: all 0.5s;
  cursor: pointer;
}

/* smartphones portrait and landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .headerPic {
    height: 60px;
    width: auto;
    margin-left: 0px;
    margin-top: 5px;
    transform: rotate(-1deg);
  }
  .myLinks {
    display: flex;
    margin-top: 30px;
    margin-right: 5px;
  }
  .myLinks1 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 8px;
    width: fit-content;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks2 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 8px;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks3 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 8px;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks4 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 8px;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .active {
    text-align: right !important;
    margin-left: 5px !important;
    padding: 6px !important;
    font-weight: 200 !important;
    font-size: 8px !important;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px !important;
    color: black !important;
    height: fit-content !important;
    text-decoration: none !important;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .headerPic {
    height: 60px;
    width: auto;
    margin-left: 0px;
    margin-top: 5px;
    transform: rotate(-1deg);
  }
  .myLinks {
    display: flex;
    margin-top: 30px;
    margin-right: 5px;
  }
  .myLinks1 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 8px;
    width: fit-content;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks2 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 8px;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks3 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 8px;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks4 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 8px;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .active {
    text-align: right !important;
    margin-left: 5px !important;
    padding: 6px !important;
    font-weight: 200 !important;
    font-size: 8px !important;
    /* font-family: 'Inter', sans-serif; */
    border-radius: 8px !important;
    color: black !important;
    height: fit-content !important;
    text-decoration: none !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerPic {
    height: 70px;
    width: auto;
    margin-left: 50px;
    margin-top: 5px;
    transform: rotate(-1deg);
  }
  .myLinks {
    display: flex;
    margin-top: 35px;
    margin-right: 55px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerPic {
    height: 70px;
    width: auto;
    margin-left: 50px;
    margin-top: 5px;
    transform: rotate(-1deg);
  }
  .myLinks {
    display: flex;
    margin-top: 35px;
    margin-right: 55px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerPic {
    height: 70px;
    width: auto;
    margin-left: 50px;
    margin-top: 5px;
    transform: rotate(-1deg);
  }
  .myLinks {
    display: flex;
    margin-top: 35px;
    margin-right: 55px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerPic {
    width: 5%;
    height: auto;
    margin-left: 100px;
    margin-top: 15px;
    transform: rotate(-1deg);
  }
  .myLinks {
    display: flex;
    margin-top: 60px;
    margin-right: 120px;
  }
  .myLinks1 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 1.7vh;
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks2 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 1.7vh;
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks3 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 1.7vh;
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks4 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 1.7vh;
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .active {
    text-align: right !important;
    margin-left: 5px !important;
    padding: 6px !important;
    font-weight: 200 !important;
    font-size: 1.7vh !important;
    border-radius: 8px !important;
    color: black !important;
    height: fit-content !important;
    text-decoration: none !important;
  }
  .myLinks1:hover {
    background: #dbe2ef;
    transition: all 0.5s;
    cursor: pointer;
  }
  .myLinks2:hover {
    background: #dbe2ef;
    transition: all 0.5s;
    cursor: pointer;
  }
  .myLinks3:hover {
    background: #dbe2ef;
    transition: all 0.5s;
    cursor: pointer;
  }
  .myLinks4:hover {
    background: #dbe2ef;
    transition: all 0.5s;
    cursor: pointer;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerPic {
    width: 5%;
    height: auto;
    margin-left: 100px;
    margin-top: 15px;
    transform: rotate(-1deg);
  }
  .myLinks {
    display: flex;
    margin-top: 60px;
    margin-right: 120px;
  }
  .myLinks1 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 1.7vh;
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks2 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 1.7vh;
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks3 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 1.7vh;
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .myLinks4 {
    text-align: right;
    margin-left: 5px;
    padding: 6px;
    font-weight: 200;
    font-size: 1.7vh;
    border-radius: 8px;
    color: black;
    height: fit-content;
  }
  .active {
    text-align: right !important;
    margin-left: 5px !important;
    padding: 6px !important;
    font-weight: 200 !important;
    font-size: 1.7vh !important;
    border-radius: 8px !important;
    color: black !important;
    height: fit-content !important;
    text-decoration: none !important;
  }
  .myLinks1:hover {
    background: #dbe2ef;
    transition: all 0.5s;
    cursor: pointer;
  }
  .myLinks2:hover {
    background: #dbe2ef;
    transition: all 0.5s;
    cursor: pointer;
  }
  .myLinks3:hover {
    background: #dbe2ef;
    transition: all 0.5s;
    cursor: pointer;
  }
  .myLinks4:hover {
    background: #dbe2ef;
    transition: all 0.5s;
    cursor: pointer;
  }
}
