.introMe {
  justify-content: center;
  display: flex;
  margin-top: 120px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 3.3vh;
  color: black;
}
.introMeAbout {
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
  font-weight: 100;
  color: black;
  font-size: 2.5vh;
}
.introAvatar {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center !important;
  text-align: center;
  background: #5e94d7;
  filter: brightness(110%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.introPic {
  height: 90%;
  padding-right: 20px;
  width: auto;
  margin-top: -15px;
  margin-right: auto;
  margin-left: auto;
}
.introThings {
  margin-left: 35%;
  margin-top: 40px;
  filter: brightness(110%);
  width: auto;
  height: 100%;
  transform: rotate(0.1deg);
}





@media all and (max-width: 500px){
  .introMe {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 3.3vh;
    color: black;
  }
  .introMeAbout {
    text-align: center;
    justify-content: center;
    margin:auto;
    display: flex;
    margin-bottom: 40px;
    font-weight: 100;
    color: black;
    font-size: 2.5vh;
  }
  .introAvatar {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center !important;
    text-align: center;
    background: #5e94d7;
    filter: brightness(110%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
   
  }
  .introPic {
    height: 90%;
    padding-right: 20px;
    width: auto;
    margin-top: -15px;
    margin-right: auto;
    margin-left: auto;
  }
  .introThings {
    margin:auto;
    margin-top: 40px;
    filter: brightness(110%);
    width: auto;
    transform: rotate(0.1deg);
    height: auto;
    width: 100%;
  }
  
}