.projectsContainer{
  width: 100%;
  margin: auto;
}
.projectsHeader{
  color: black;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size:3.3vh;
  font-weight: 400;
  margin-top: 100px;
}
.projectsHeader2{
  color: black; 
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 1.5vh;
  font-weight: 200;
  padding-top: 10px;
  margin-bottom: 40px;
}
.projectsColor{
  color: #5e94d7;
}
.singleProjectContainer{
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  
}