.singleMainContainer {
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 450px;
  border: 0.5px #dbe2ef solid;
  border-radius: 10px 10px 0px 0px;
}

.singleImage {
  width: 100%;
  height: 40%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0.5px solid #5e94d7;
}
.singleTitle {
  height: 10px;
  width: 100%;
  padding-top: 10px;
  font-size: 2vh;
  font-weight: 450;
  color: #5e94d7;
  text-align: center;
  padding-bottom: 30px;
}
.singleDescription {
  height: 20%;
  width: 80%;
  font-weight: 300;
  color: black;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.singleTech {
  margin: auto;
  height: 10px;
  width: 80%;
  margin-top: 60px;
  font-weight: 300;
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.repoPic {
  width: 60px;
  height: auto;
  padding-left: 15%;
}
.twitterPic {
  width: 60px;
  height: auto;
  padding-right: 15%;
}
.repoInfo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

@media all and (max-width: 500px) {
  .singleMainContainer {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 220px;
    border: 0.5px #dbe2ef solid;
    border-radius: 10px 10px 0px 0px;
  }

  .singleImage {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0.5px solid #5e94d7;
  }
  .singleTitle {
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0 !important;
    font-size: 0.8vh;
    font-weight: 450;
    color: #5e94d7;
    text-align: center;
    margin-bottom: 10px;
  }
  .singleDescription {
    height: 20%;
    width: 80%;
    font-size: 0.75vh;
    font-weight: 300;
    color: black;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 0 !important;
  }
  .singleTech {
    margin: auto;
    height: 10px;
    width: 80%;
    font-size: 0.75vh;
    margin-top: 50px;
    font-weight: 300;
    color: black;
    text-align: center;
    /* padding-bottom: 30px; */
  }
  .repoPic {
    padding-right: 10px;
    margin-top: -10px !important;
    width: 70%;
    height: auto;
  }
  .twitterPic {
    display: none;
    width: 10% !important;
    height: auto;
    padding-right: 15%;
  }
  .repoInfo {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .singleMainContainer {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 220px;
    border: 0.5px #dbe2ef solid;
    border-radius: 10px 10px 0px 0px;
  }

  .singleImage {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0.5px solid #5e94d7;
  }
  .singleTitle {
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0 !important;
    font-size: .85vh;
    font-weight: 450;
    color: #5e94d7;
    text-align: center;
    margin-bottom: 10px;
  }
  .singleDescription {
    height: 20%;
    width: 80%;
    font-size: 0.7vh;
    font-weight: 300;
    color: black;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 0 !important;
  }
  .singleTech {
    margin: auto;
    height: 10px;
    width: 80%;
    font-size: 0.75vh;
    margin-top: 30px;
    font-weight: 300;
    color: black;
    text-align: center;
    /* padding-bottom: 30px; */
  }
  .repoPic {
    padding-right: 10px;
    margin-top: -10px !important;
    width: 70%;
    height: auto;
  }
  .twitterPic {
    display: none;
    width: 10% !important;
    height: auto;
    padding-right: 15%;
  }
  .repoInfo {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}





/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .singleMainContainer {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 220px;
    border: 0.5px #dbe2ef solid;
    border-radius: 10px 10px 0px 0px;
  }

  .singleImage {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0.5px solid #5e94d7;
  }
  .singleTitle {
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0 !important;
    font-size: 1vh;
    font-weight: 450;
    color: #5e94d7;
    text-align: center;
    margin-bottom: 10px;
  }
  .singleDescription {
    height: 20%;
    width: 80%;
    font-size: 0.7vh;
    font-weight: 300;
    color: black;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 0 !important;
  }
  .singleTech {
    margin: auto;
    height: 10px;
    width: 80%;
    font-size: 0.75vh;
    margin-top: 20px;
    font-weight: 300;
    color: black;
    text-align: center;
    /* padding-bottom: 30px; */
  }
  .repoPic {
    padding-right: 10px;
    margin-top: -15px !important;
    width: 50%;
    height: auto;
  }
  .twitterPic {
    display: none;
    width: 10% !important;
    height: auto;
    padding-right: 15%;
  }
  .repoInfo {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}



/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1030px) {
  .singleMainContainer {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 220px;
    border: 0.5px #dbe2ef solid;
    border-radius: 10px 10px 0px 0px;
  }

  .singleImage {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0.5px solid #5e94d7;
  }
  .singleTitle {
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0 !important;
    font-size: 1vh;
    font-weight: 450;
    color: #5e94d7;
    text-align: center;
    margin-bottom: 10px;
  }
  .singleDescription {
    height: 20%;
    width: 80%;
    font-size: 0.7vh;
    font-weight: 300;
    color: black;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 0 !important;
  }
  .singleTech {
    margin: auto;
    height: 10px;
    width: 80%;
    font-size: 0.75vh;
    /* margin-top: 10px; */
    font-weight: 300;
    color: black;
    text-align: center;
    /* padding-bottom: 30px; */
  }
  .repoPic {
    padding-right: 10px;
    margin-top: -20px !important;
    width: 40%;
    height: auto;
  }
  .twitterPic {
    display: none;
    width: 10% !important;
    height: auto;
    padding-right: 15%;
  }
  .repoInfo {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1220px) {
  .singleMainContainer {
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 380px;
    border: 0.5px #dbe2ef solid;
    border-radius: 10px 10px 0px 0px;
  }
  
  .singleImage {
    width: 100%;
    height: 30%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0.5px solid #5e94d7;
  }
  .singleTitle {
    height: 10px;
    width: 100%;
    padding-top: 10px;
    font-size: 2vh;
    font-weight: 450;
    color: #5e94d7;
    text-align: center;
    padding-bottom: 30px;
  }
  .singleDescription {
    height: 20%;
    width: 80%;
    font-weight: 300;
    color: black;
    font-size: 1.4vh;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .singleTech {
    margin: auto;
    height: 10px;
    width: 80%;
    font-size: 1.4vh;
    margin-top: 45px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .repoPic {
    width: 60px;
    height: auto;
    padding-left: 15%;
  }
  .twitterPic {
    width: 60px;
    height: auto;
    padding-right: 15%;
  }
  .repoInfo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .singleMainContainer {
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 450px;
    border: 0.5px #dbe2ef solid;
    border-radius: 10px 10px 0px 0px;
  }
  
  .singleImage {
    width: 100%;
    height: 40%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0.5px solid #5e94d7;
  }
  .singleTitle {
    height: 10px;
    width: 100%;
    padding-top: 10px;
    font-size: 2vh;
    font-weight: 450;
    color: #5e94d7;
    text-align: center;
    padding-bottom: 30px;
  }
  .singleDescription {
    height: 20%;
    width: 80%;
    font-weight: 300;
    color: black;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .singleTech {
    margin: auto;
    height: 10px;
    width: 80%;
    margin-top: 60px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .repoPic {
    width: 60px;
    height: auto;
    padding-left: 15%;
  }
  .twitterPic {
    width: 60px;
    height: auto;
    padding-right: 15%;
  }
  .repoInfo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
