.myProjects {
  color: rgba(255, 254, 554, 1);
  text-align: center;
  font-size: 34px;
  margin-top: -200px;
}
.projectLinks {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.projectLinks2 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.htmlLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;

}
.htmlLink:hover{
  width: auto;
  background-color: rgba(214, 50, 44, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;

}
.cssLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.cssLink:hover{
  width: auto;
  background-color: rgba(0,88,161,1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.sassLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.sassLink:hover{
  width: auto;
  background-color: rgba(211,90,144,1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.materialLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.materialLink:hover{
  width: auto;
  background-color: rgba(0,167,251, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.bootstrapLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.bootstrapLink:hover{
  width: auto;
  background-color: rgba(110,64,177, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.javascriptLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.javascriptLink:hover{
  width: auto;
  background-color: rgba(255,217,72, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.reactLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.reactLink:hover{
  width: auto;
  background-color: rgba(55,213,248, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.jqueryLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.jqueryLink:hover{
  width: auto;
  background-color: rgba(0,93,159, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.handlebarsLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.handlebarsLink:hover{
  width: auto;
  background-color: rgba(59,46,35, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.nodeLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nodeLink:hover{
  width: auto;
  background-color: rgba(61,147,64, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.npmLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-left: 60px;
}
.npmLink:hover{
  width: auto;
  background-color: rgba(219,5,22, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.mongoLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.mongoLink:hover{
  width: auto;
  background-color: rgba(53,160,64, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.sqlLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.sqlLink:hover{
  width: auto;
  background-color: rgba(38,90,162, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.firebaseLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.firebaseLink:hover{
  width: auto;
  background-color: rgba(255,150,39, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.sketchLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.sketchLink:hover{
  width: auto;
  background-color: rgba(235,95,31, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.figmaLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.figmaLink:hover{
  width: auto;
  background-color: rgba(0,180,250, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.gitLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.gitLink:hover{
  width: auto;
  background-color: rgba(250,72,53, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.herokuLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-right: 60px;
}
.herokuLink:hover{
  width: auto;
  background-color: rgba(119,88,155, 1);
  color: rgba(255,254,254,1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
