.myProjects {
  color: rgba(255, 254, 554, 1);
  text-align: center;
  font-size: 34px;
  margin-top: -200px;
}
.projectLinks {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.projectLinks2 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.htmlLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.htmlLink:hover {
  width: auto;
  background-color: rgba(214, 50, 44, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.cssLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.cssLink:hover {
  width: auto;
  background-color: rgba(0, 88, 161, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.sassLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.sassLink:hover {
  width: auto;
  background-color: rgba(211, 90, 144, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.materialLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.materialLink:hover {
  width: auto;
  background-color: rgba(0, 167, 251, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.bootstrapLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.bootstrapLink:hover {
  width: auto;
  background-color: rgba(110, 64, 177, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.javascriptLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.javascriptLink:hover {
  width: auto;
  background-color: rgba(255, 217, 72, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.reactLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.reactLink:hover {
  width: auto;
  background-color: rgba(55, 213, 248, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.jqueryLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.jqueryLink:hover {
  width: auto;
  background-color: rgba(0, 93, 159, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.handlebarsLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.handlebarsLink:hover {
  width: auto;
  background-color: rgba(59, 46, 35, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.nodeLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.2s ease-in-out;
}
.nodeLink:hover {
  width: auto;
  background-color: rgba(61, 147, 64, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.npmLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-left: 60px;
  transition: all 0.2s ease-in-out;
}
.npmLink:hover {
  width: auto;
  background-color: rgba(219, 5, 22, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.mongoLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.mongoLink:hover {
  width: auto;
  background-color: rgba(53, 160, 64, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.sqlLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.sqlLink:hover {
  width: auto;
  background-color: rgba(38, 90, 162, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.firebaseLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.firebaseLink:hover {
  width: auto;
  background-color: rgba(255, 150, 39, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.sketchLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.sketchLink:hover {
  width: auto;
  background-color: rgba(235, 95, 31, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.figmaLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.figmaLink:hover {
  width: auto;
  background-color: rgba(0, 180, 250, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.gitLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.gitLink:hover {
  width: auto;
  background-color: rgba(250, 72, 53, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.herokuLink {
  width: auto;
  background-color: rgba(180, 170, 170, 1);
  color: rgba(47, 47, 47, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-right: 60px;
  transition: all 0.2s ease-in-out;
}
.herokuLink:hover {
  width: auto;
  background-color: rgba(119, 88, 155, 1);
  color: rgba(255, 254, 254, 1);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
